packageName: {{ category | replace("_", "-") }}
experiments:
  - name: {{ name | replace("_", "-") }}
    CSV: {{ name | replace("_", "-") }}.chartserviceversion.yaml
    desc: "{{ name | replace("_", "-") }}"